# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('/Users/nelly/dataV2-labs/module-2/Two-Sample-Hypothesis-Tests/pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:

pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:

legendary_true = pokemon[(pokemon['Legendary']==True)]

legendary_false = pokemon[(pokemon['Legendary']==False)]

legendary_true.describe()  # mean= 637.384615 std = 60.937389

legendary_false.describe() # mean = 417.213605 std = 106.760417

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000
mean,353.315646,417.213605,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782,3.284354
std,208.590419,106.760417,24.808849,30.490153,30.408194,29.091705,25.669310,27.843038,1.673471
min,1.000000,180.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,175.500000,324.000000,50.000000,54.500000,50.000000,45.000000,50.000000,45.000000,2.000000
50%,346.000000,425.000000,65.000000,72.000000,66.000000,65.000000,65.000000,64.000000,3.000000
75%,533.500000,498.000000,79.500000,95.000000,85.000000,85.000000,85.000000,85.000000,5.000000
max,715.000000,700.000000,255.000000,185.000000,230.000000,175.000000,230.000000,160.000000,6.000000

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
# Your code here:

from scipy.stats import ttest_ind
 

ttest_ind(legendary_true.Total,legendary_false.Total)

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [7]:
# Your conclusions here:

# P-value is too low so we reject the H
# HO = Legendary Ture & Legenday False means are the same

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [8]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [9]:
# Your code here:

water = pokemon[(pokemon['Type 1']== 'Water')]

dragon = pokemon[(pokemon['Type 1']== 'Dragon')]

fairy = pokemon[(pokemon['Type 1']== 'Fairy')]

dragon.describe() # mean = 550.531250  std = 146.267538
fairy.describe() #  mean = 413.176471  std = 123.781680

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
mean,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647
std,271.983942,123.781680,23.587291,29.751298,18.979478,28.548462,29.721130,23.305200,2.147160
min,35.000000,218.000000,35.000000,20.000000,28.000000,40.000000,40.000000,15.000000,1.000000
25%,176.000000,323.000000,55.000000,45.000000,50.000000,60.000000,65.000000,30.000000,2.000000
50%,669.000000,405.000000,78.000000,52.000000,66.000000,75.000000,79.000000,45.000000,6.000000
75%,683.000000,483.000000,90.000000,72.000000,75.000000,99.000000,98.000000,60.000000,6.000000
max,716.000000,680.000000,126.000000,131.000000,95.000000,131.000000,154.000000,99.000000,6.000000

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [10]:
# Your code here:
water = pokemon[(pokemon['Type 1']== 'Water')]
not_water = pokemon[(pokemon['Type 1'] != 'Water')]


ttest_ind(water.Total,not_water.Total)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [11]:
# Your conclusions here:

# HO= water and non water pokemon have the same mean
# P-value high so we can't reject the NULL hypothesis 
# The diofference is -0.4418547448849676

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [12]:
# Your code here:
from scipy.stats import ttest_rel

# HO: defense mean score = attack mean score 

ttest_rel(pokemon.Attack,pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [13]:
# Your conclusions here:

# P-value high so we can't reject the NULL hypothesis 
# Defense is 4.32 units higher from the "Attack" mean

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [14]:
# Your code here:

ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [15]:
# Your conclusions here:

# HO: Sp. Atk mean score = Sp. Def mean score 
# P-value high so we can't reject the NULL hypothesis

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [22]:
# Your code here:
    
from scipy.stats import ttest_1samp  


# One sample t-test
# To Check if the difference of the mean of defense and attack is equal to zero
# Ho: defense mean = attack mean 

sample = pokemon.Defense - pokemon.Attack

#print(sample)

ttest_1samp(sample,0) # pvalue=0.0 , standard errors from the mean statistic = -4.32

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
'''

Paired sample t-test

The null hypothesis is that the average of 2 related samples is zero
H0: difference between defense mean & attack means = 0
ttest_rel(pokemon['Defense'], pokemon['Attack']) # pvalue=1.7140303479358558e-05


Alternative:

Calculate the Confidence interval for the sample mean and check if the hypothesised mean is inside the confidence interval

'''

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

pd.crosstab(index=pokemon['Type 1'], columns=pokemon['Legendary'])

Legendary  False  True
Type 1
Bug           69      0
Dark          29      2
Dragon        20     12
Electric      40      4
Fairy         16      1
Fighting      27      0
Fire          47      5
Flying         2      2
Ghost         30      2
Grass         67      3
Ground        28      4
Ice           22      2
Normal        96      2
Poison        28      0
Psychic       43     14
Rock          40      4
Steel         23      4
Water        108      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: