## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [12]:
# Your code here
import random
sample_list_1 = random.sample(range(0,100), 80)
print(sample_list_1)

[72, 7, 36, 6, 90, 53, 17, 45, 92, 32, 69, 24, 1, 10, 81, 37, 29, 59, 62, 84, 73, 34, 43, 74, 16, 54, 75, 76, 2, 42, 52, 0, 51, 23, 33, 8, 55, 87, 80, 78, 95, 88, 83, 15, 89, 44, 65, 99, 30, 28, 27, 11, 96, 35, 91, 85, 66, 64, 46, 67, 47, 9, 50, 14, 63, 98, 38, 79, 56, 71, 57, 41, 49, 3, 86, 82, 25, 21, 19, 58]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [15]:
# Your code here
set1 = set(sample_list_1)
print(set1)
print (len(set1))

{0, 1, 2, 3, 6, 7, 8, 9, 10, 11, 14, 15, 16, 17, 19, 21, 23, 24, 25, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 62, 63, 64, 65, 66, 67, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 95, 96, 98, 99}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [11]:
# Your code here

sample_list_2 = random.sample(range(0,100), 80)
print(sample_list_2)

[47, 92, 53, 81, 52, 31, 91, 48, 18, 32, 68, 43, 35, 74, 44, 37, 33, 7, 85, 72, 76, 25, 17, 94, 87, 28, 73, 36, 38, 30, 93, 20, 8, 57, 10, 86, 45, 55, 26, 70, 50, 51, 79, 89, 23, 62, 5, 69, 21, 98, 99, 49, 41, 90, 83, 82, 80, 64, 1, 95, 6, 67, 75, 77, 78, 97, 3, 27, 19, 42, 22, 16, 15, 96, 40, 60, 84, 9, 29, 59]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [16]:
# Your code here

set2 = set(sample_list_2)
print(set2)
print (len(set2))

{1, 3, 5, 6, 7, 8, 9, 10, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 55, 57, 59, 60, 62, 64, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [23]:
# Your code here

set3 = set1.difference(set2)
print(set3)

{0, 65, 2, 34, 58, 66, 71, 11, 14, 46, 54, 24, 56, 88, 63}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [22]:
# Your code here

set4 = set2.difference(set1)
print(set4)

{97, 68, 5, 70, 40, 77, 48, 18, 20, 22, 26, 60, 93, 94, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [24]:
# Your code here

set5 = set1.intersection(set2)
print(set5)

{1, 3, 6, 7, 8, 9, 10, 15, 16, 17, 19, 21, 23, 25, 27, 28, 29, 30, 32, 33, 35, 36, 37, 38, 41, 42, 43, 44, 45, 47, 49, 50, 51, 52, 53, 55, 57, 59, 62, 64, 67, 69, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 92, 95, 96, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [ ]:
# Your code here

set6 =()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [34]:
# Your code here
set3.update(set5)
set6= set3

print(set6)

{0, 1, 2, 3, 6, 7, 8, 9, 10, 11, 14, 15, 16, 17, 19, 21, 23, 24, 25, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 62, 63, 64, 65, 66, 67, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 95, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [35]:
# Your code here

if set1 == set6:
    print("True")
else:
    print("False")

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [39]:
# Your code here

check1 = set1.issubset(set2) 

print(check1)

check2 = set1.issubset(set3) 

print(check2)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [53]:
# Your code here

set3.union(set4,set5)

print(set3)

set3.union(set1,set2)

print(set3)

{0, 1, 2, 3, 6, 7, 8, 9, 10, 11, 14, 15, 16, 17, 19, 21, 23, 24, 25, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 62, 63, 64, 65, 66, 67, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 95, 96, 98, 99}
{0, 1, 2, 3, 6, 7, 8, 9, 10, 11, 14, 15, 16, 17, 19, 21, 23, 24, 25, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 62, 63, 64, 65, 66, 67, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 95, 96, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [62]:
# Your code here

# ?question: I keep having different values for set1 since set1 = set(sample_list_1)

print(set1)

popped_element = set1.pop()

print("The first element removed from set1 is: ", popped_element)

{6, 7, 8, 9, 10, 11, 14, 15, 16, 17, 19, 21, 23, 24, 25, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 62, 63, 64, 65, 66, 67, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 95, 96, 98, 99}
The first element removed from set1 is:  6

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [71]:
# Your code here


list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

list_to_remove = set(list_to_remove)

print(list_to_remove)

new_list = set1.difference(list_to_remove)

print(new_list)

{1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}
{7, 8, 10, 14, 15, 16, 17, 23, 24, 25, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 42, 43, 44, 45, 46, 47, 50, 52, 53, 54, 55, 56, 57, 58, 62, 63, 64, 65, 66, 67, 72, 73, 74, 75, 76, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 95, 96, 98}