Lists

In [1]:
# initialise
lst = ['a','b','c','d','e','f','g']

In [12]:
#index
print(lst)
print(lst[1])
print(lst[-1])
#print(lst[9])
print(len(lst))
print(lst[len(lst)-2])

['a', 'b', 'c', 'd', 'e', 'f', 'g']
b
g
7
f

In [17]:
#slicing
print(lst[2:7])
print(lst[2:])
print(lst[2:7:3])
print(lst[::-1])
print(lst[5:1:-1])

['c', 'd', 'e', 'f', 'g']
['c', 'd', 'e', 'f', 'g']
['c', 'f']
['g', 'f', 'e', 'd', 'c', 'b', 'a']
['f', 'e', 'd', 'c']

In [18]:
lst[0] = 'z'
print(lst)

['z', 'b', 'c', 'd', 'e', 'f', 'g']

Tuples

In [24]:
#initialise / assign
chocolates = ('dark', 'milk', 'semi sweet')

#index
print(chocolates[1])
print(chocolates)
type(chocolates)

milk
('dark', 'milk', 'semi sweet')

tuple

In [25]:
#append
chocolates.append('white')

AttributeError: 'tuple' object has no attribute 'append'

In [26]:
#update
chocolates[2] = 'caramel filled'

TypeError: 'tuple' object does not support item assignment

In [27]:
len(chocolates)

3

In [28]:
chocolates[10]

IndexError: tuple index out of range

In [30]:
for chocolate in chocolates:
    print(chocolate)

dark
milk
semi sweet

In [31]:
chocolates = ('dark', 'milk', 'caramel filled')

for chocolate in chocolates:
    print(chocolate)

dark
milk
caramel filled

Dictionaries

In [35]:
contacts = {'John': '312-555-1234', 
            'Paul': '312-555-3123', 
            'George': '312-555-3333', 
            'Ringo': '312-555-2222'}
contacts2 = {'John': '312-555-1234', 
            'George': '312-555-3333', 
            'Paul': '312-555-3123', 
            'Ringo': '312-555-2222'}

In [41]:
contacts == contacts2
print(contacts2)

{'John': '312-555-1234', 'George': '312-555-3333', 'Paul': '312-555-3123', 'Ringo': '312-555-2222'}

In [42]:
contacts['Paul']

'312-555-3124'

In [47]:
#contacts.keys()
print(list(contacts.keys()))

['John', 'Paul', 'George', 'Ringo']

In [49]:
contacts.values()
print(list(contacts.values()))

['312-555-1234', '312-555-3124', '312-555-3333', '312-555-2222']

In [50]:
list(contacts.items())

[('John', '312-555-1234'),
 ('Paul', '312-555-3124'),
 ('George', '312-555-3333'),
 ('Ringo', '312-555-2222')]

In [51]:
contacts['Jimmie'] = '312-555-3124'

print(contacts['Jimmie'])
list(contacts.items())

312-555-3124

[('John', '312-555-1234'),
 ('Paul', '312-555-3124'),
 ('George', '312-555-3333'),
 ('Ringo', '312-555-2222'),
 ('Jimmie', '312-555-3124')]

In [54]:
contacts['Puall'] = '312-555-4444'

In [55]:
contacts.items()

dict_items([('John', '312-555-1234'), ('Paul', '312-555-4444'), ('George', '312-555-3333'), ('Ringo', '312-555-2222'), ('Jimmie', '312-555-3124'), ('Puall', '312-555-4444')])

In [57]:
del contacts['Jimmie']

In [58]:
contacts.items()

dict_items([('John', '312-555-1234'), ('Paul', '312-555-4444'), ('George', '312-555-3333'), ('Ringo', '312-555-2222')])

In [59]:
empty_dict = {}

In [60]:
for i in contacts.keys():
     print(i)

John
Paul
George
Ringo

In [61]:
for i in contacts.values():
     print(i)

312-555-1234
312-555-4444
312-555-3333
312-555-2222

In [68]:
for k, v in contacts.items():
     print(k + ": " + v)

John: 312-555-1234
Paul: 312-555-4444
George: 312-555-3333
Ringo: 312-555-2222

In [79]:
# dict comprehension
international = {k: "+1-"+v for k, v in contacts.items()}

for k, v in international.items():
     print(k+"'s phone number is "+v)

print(international)

John's phone number is +1-312-555-1234
Paul's phone number is +1-312-555-4444
George's phone number is +1-312-555-3333
Ringo's phone number is +1-312-555-2222
{'John': '+1-312-555-1234', 'Paul': '+1-312-555-4444', 'George': '+1-312-555-3333', 'Ringo': '+1-312-555-2222'}

Sets

In [83]:
letters = {1,2,2,3}
print(letters)
type(letters)

{1, 2, 3}

set

In [90]:
exset = [3,2,1,2]
print(list(set(exset)))

[1, 2, 3]

In [93]:
letters = set({})
letters.add('a')
letters.add('b')
letters.add('c')

print(letters)

{'c', 'b', 'a'}

In [99]:
#letters.remove('a')
#print(letters)
# letters.remove('b')
# letters.remove('c')
print(letters)
letters.remove('d')

set()

KeyError: 'd'

In [100]:
days = set(['Monday', 'Tuesday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])

In [101]:
print(days)

{'Sunday', 'Friday', 'Thursday', 'Tuesday', 'Saturday', 'Monday', 'Wednesday'}

In [102]:
list_days = list(days)
list_days

['Sunday', 'Friday', 'Thursday', 'Tuesday', 'Saturday', 'Monday', 'Wednesday']

In [106]:
# We start off defining both sets. Note that we have to use both parentheses and brackets.
girl_names = set(['Mary', 'Madison', 'Logan', 'Joanna'])
boy_names = set(['John', 'Alexander', 'Logan', 'Madison'])

In [107]:
# We find the unisex names by finding the intersection of boy and girl names
unisex_names = girl_names.intersection(boy_names)
print(unisex_names)

{'Logan', 'Madison'}

In [108]:
# We find the list of all names without duplicates by finding the union of both sets
all_names = boy_names.union(girl_names)
print(all_names)

{'Mary', 'Madison', 'John', 'Joanna', 'Logan', 'Alexander'}

In [109]:
# We find the difference between both sets by subtracting one set from the other
boy_only_names = boy_names - girl_names
print(boy_only_names)

{'John', 'Alexander'}

In [111]:
girl_only_names = girl_names - boy_names
print(girl_only_names)

{'Mary', 'Joanna'}

In [118]:
aset = set()
print(aset)
type(aset)

set()

set

In [ ]:
(1,2) == (2,1)

In [ ]:
dictA = {1:2, 2:4}
dictB = {2:4, 1:2}
dictA == dictB
print(dictB)

In [ ]:
a = ()
type(a)
#print(a)

In [ ]:
del dictA[1]
del dictA[2]
print(dictA)
type(dictA)